<h3>模版驱动型表单 强化版</h3>
<form #form="ngForm" (ngSubmit)="handleSubmit(form.value, form)" novalidate>
	<div>
		<label>
			<input
				#inputMobile="ngModel"
				name="inputMobile"
				[(ngModel)]="mobile"
				validMobile="手机号"
			>
		</label>
	</div>
	
	<div *ngIf="form.submitted && inputMobile?.errors?.validMobile" style="background-color: red">
		{{inputMobile?.errors?.validMobile}}
	</div>

	<div>
		<label>
			<input
				#inputSms="ngModel"
				name="inputSms"
				[(ngModel)]="sms"
				validRequired="短信"
			>
		</label>
	</div>
	
	<div *ngIf="form.submitted && inputSms?.errors?.validRequired" style="background-color: red">
		{{inputSms?.errors?.validRequired}}
	</div>
	<button>Submit</button>

</form>