.pages-register {
	margin-top : 15%;
	.control-label {
		padding-top: 11px;
	}
	.form-group {
		margin-bottom: 12px;
	}
	._main {
		width: 600px;
		margin: 0 auto;
		border-radius: 5px;
		padding: 32px;
	}
}


