/**
 * UI库
 * 表单
 * 搜索框
 * 链接跳转（一行显示）
 * Tab
 * 弹出层
 */
.g-item{
}

.g-fixed{
}
.g-popup-bg{
}
.g-popup {
}

/**
 * 背景颜色
 */
[class*="g-bg-"]{
	color:white; 
}
.g-bg-white{
	background:#fff;
	color:inherit;
}

.g-bg-pink{
	background:#F5374D;
}

.g-bg-gray{
	background:#EBEBEB;
	color:inherit;
}
.g-bg-deep{
	background:#9C9C9C;
}
.g-bg-green{
	background: #28c192;
}

.g-bg-blue{
	background: #10aeff;
}
.g-bg-orange{
	background: #f60;
}
/**
 * 文字颜色
 */
.g-gray{
	color:#9C9C9C;
}

.g-pink{
	color:#F5374D;
}

.g-white{
	color:#fff;
}
.g-orange{
	color:#f60;
}
.g-green{
	color:#06bf04;
}
.g-blue{
	color:#10aeff;
}
/**
 * 搜索框
 */
.g-search input,.diy-search input{
}

/**
 * 按钮
 */
.g-step{
}
/**
 * 表单
 */
.g-form{
}

/**
 * picker-view
 */
.g-picker-view{
}

/**
 * 选项卡
 */
.g-tab{
}
